body {
    font-family: monospace;
}

#loveOss{
    text-align: center;
}
#mlh{
    font-size: 75px;
}
#main {
    text-align: center;
}
#red{
    color: red;
}
#green{
    color: greenyellow;
}

#blue{
    color: blue;
}
i{
    font-size: 90px;
}